<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://install.diawi.com/qK8Dvn</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.oraclecorp.internal.OICSSOApp</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>OICSSOApp</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
